/* SETUP-LOG | 1.0.3 | 200702 | assets/scss/main.scss
---------------------------------------------------------------------------------------------------- */
/* SETUP-BE | 1.0.1 | 200624 | assets/scss/partials/base.scss
---------------------------------------------------------------------------------------------------- */
/*  SETUP-BE | 1.0.0 | 200408 | setup-be/modules/setup-be-100/brand-color.scss
---------------------------------------------------------------------------------------------------- */
/**
 * Brand Color
 *
 */
/*  SETUP-BE | 1.0.0 | 200408 | setup-be/modules/setup-be-100/helpers.scss
---------------------------------------------------------------------------------------------------- */
/**
 * Button Reset
 *
 */
/**
 * Grid, Center Last
 *
 */
/**
 * Margin, No Edge
 * Removes left margin from first item, right margin from last item
 */
/**
 * Icon Position
 *
 */
/**
 * Block Cover
 * Creates a block that covers the full width/height of parent div. Typically used on a :before pseudo element
 */
/**
 * Placeholder Color
 *
 */
/**
 * Clearfix
 *
 */
/**
 * Font Sizes
 *
**/
/**
 * Columns
 *
 */
/**
 * Columns, Mobile
 *
 */
/**
 * Columns, Tablet
 *
 */
/**
 * Columns, Tablet Up
 *
 */
/**
 * Columns, Desktop
 *
 */
/* SETUP-BE | 1.0.0 | 200408 | setup-be/modules/setup-be-100/base-styles.scss
---------------------------------------------------------------------------------------------------- */
/*  SETUP-BE | 1.0.0 | 200420 | setup-be/type/setup-be-100/fontsize.scss
---------------------------------------------------------------------------------------------------- */
.fontsize-xhuge {
  font-size: 3.25rem;
}
@media (min-width: 768px) {
  .fontsize-xhuge {
    font-size: 3.625rem;
  }
}
@media (min-width: 992px) {
  .fontsize-xhuge {
    font-size: 4rem;
  }
}

.fontsize-huge {
  font-size: 2.25rem;
}
@media (min-width: 768px) {
  .fontsize-huge {
    font-size: 2.625rem;
  }
}
@media (min-width: 992px) {
  .fontsize-huge {
    font-size: 3rem;
  }
}

.fontsize-large {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .fontsize-large {
    font-size: 1.875rem;
  }
}
@media (min-width: 992px) {
  .fontsize-large {
    font-size: 2.25rem;
  }
}

.fontsize-medium {
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  .fontsize-medium {
    font-size: 1.375rem;
  }
}
@media (min-width: 992px) {
  .fontsize-medium {
    font-size: 1.5rem;
  }
}

.fontsize-small {
  font-size: 1.125rem;
}
@media (min-width: 768px) {
  .fontsize-small {
    font-size: 1.25rem;
  }
}

.fontsize-normal {
  font-size: 1rem;
}
@media (min-width: 768px) {
  .fontsize-normal {
    font-size: 1.125rem;
  }
}

.item.label,
.item.summary,
.item.info, .fontsize-base {
  font-size: 0.875rem;
}
@media (min-width: 768px) {
  .item.label,
.item.summary,
.item.info, .fontsize-base {
    font-size: 1rem;
  }
}

.item.label,
.item.summary,
.item.info, .item.date,
.item.time,
.item.datetime, .fontsize-smaller {
  font-size: 0.875rem;
}

.fontsize-tiny {
  font-size: 0.75rem;
}

/* SETUP-BE | 1.0.1 | 200624 | setup-be/ui/setup-be-101/margin.scss
---------------------------------------------------------------------------------------------------- */
.margin-top, .margin-y, .margin {
  margin-top: 1rem;
}

.margin-tiny-top, .margin-tiny {
  margin-top: 0.25rem;
}

.margin-small-top, .margin-small {
  margin-top: 0.5rem;
}

.margin-medium-top, .margin-medium {
  margin-top: 1.5rem;
}

.margin-large-top, .margin-large {
  margin-top: 2rem;
}

.module.guide.guide-titleshadow {
  margin-top: 4rem;
}

.margin-huge-top, .margin-huge {
  margin-top: 3.125rem;
}

.margin-zero-top, .margin-zero-y, .margin-zero {
  margin-top: 0;
}

.margin-bottom, .margin {
  margin-bottom: 1rem;
}

.margin-tiny-bottom, .margin-tiny {
  margin-bottom: 0.25rem;
}

.margin-small-bottom, .margin-small {
  margin-bottom: 0.5rem;
}

.module.guide.guide-titleshadow, .margin-medium-bottom, .margin-medium {
  margin-bottom: 1.5rem;
}

.margin-large-bottom, .margin-large {
  margin-bottom: 2rem;
}

.margin-large2x-bottom {
  margin-bottom: 4rem;
}

.margin-huge-bottom, .margin-huge {
  margin-bottom: 3.125rem;
}

.margin-huge2x-bottom {
  margin-bottom: 6.25rem;
}

.margin-zero-bottom, .margin-zero-y, .margin-zero {
  margin-bottom: 0;
}

.margin-left, .margin-x, .margin {
  margin-left: 1rem;
}

.margin-tiny-left, .margin-tiny {
  margin-left: 0.25rem;
}

.margin-small-left, .margin-small {
  margin-left: 0.5rem;
}

.margin-medium-left, .margin-medium {
  margin-left: 1.5rem;
}

.margin-large-left, .margin-large {
  margin-left: 2rem;
}

.margin-huge-left, .margin-huge {
  margin-left: 3.125rem;
}

.margin-zero-left, .margin-zero-x, .margin-zero {
  margin-left: 0;
}

.margin-right, .margin-x, .margin {
  margin-right: 1rem;
}

.margin-tiny-right, .margin-tiny {
  margin-right: 0.25rem;
}

.margin-small-right, .margin-small {
  margin-right: 0.5rem;
}

.margin-medium-right, .margin-medium {
  margin-right: 1.5rem;
}

.margin-large-right, .margin-large {
  margin-right: 2rem;
}

.margin-huge-right, .margin-huge {
  margin-right: 3.125rem;
}

.margin-zero-right, .margin-zero-x, .margin-zero {
  margin-right: 0;
}

/* SETUP-BE | 1.0.1 | 200624 | setup-be/ui/setup-be-101/margin-all.scss
---------------------------------------------------------------------------------------------------- */
/* SETUP-BE | 1.0.1 | 200624 | setup-be/ui/setup-be-101/padding.scss
---------------------------------------------------------------------------------------------------- */
.padding-top, .padding-y, .padding {
  padding-top: 1rem;
}

.padding-tiny-top, .padding-tiny {
  padding-top: 0.25rem;
}

.padding-small-top, .padding-small {
  padding-top: 0.5rem;
}

.padding-medium-top, .padding-medium {
  padding-top: 1.5rem;
}

.padding-large-top, .padding-large {
  padding-top: 2rem;
}

.padding-huge-top, .padding-huge {
  padding-top: 3.125rem;
}

.padding-zero-top, .padding-zero-y, .padding-zero {
  padding-top: 0;
}

.padding-bottom, .padding {
  padding-bottom: 1rem;
}

.padding-tiny-bottom, .padding-tiny {
  padding-bottom: 0.25rem;
}

.padding-small-bottom, .padding-small {
  padding-bottom: 0.5rem;
}

.padding-medium-bottom, .padding-medium {
  padding-bottom: 1.5rem;
}

.padding-large-bottom, .padding-large {
  padding-bottom: 2rem;
}

.padding-large2x-bottom {
  padding-bottom: 4rem;
}

.padding-huge-bottom, .padding-huge {
  padding-bottom: 3.125rem;
}

.padding-huge2x-bottom {
  padding-bottom: 6.25rem;
}

.padding-zero-bottom, .padding-zero-y, .padding-zero {
  padding-bottom: 0;
}

.padding-left, .padding-x, .padding {
  padding-left: 1rem;
}

.padding-tiny-left, .padding-tiny {
  padding-left: 0.25rem;
}

.padding-small-left, .padding-small {
  padding-left: 0.5rem;
}

.padding-medium-left, .padding-medium {
  padding-left: 1.5rem;
}

.padding-large-left, .padding-large {
  padding-left: 2rem;
}

.padding-huge-left, .padding-huge {
  padding-left: 3.125rem;
}

.padding-zero-left, .padding-zero-x, .padding-zero {
  padding-left: 0;
}

.padding-right, .padding-x, .padding {
  padding-right: 1rem;
}

.padding-tiny-right, .padding-tiny {
  padding-right: 0.25rem;
}

.padding-small-right, .padding-small {
  padding-right: 0.5rem;
}

.padding-medium-right, .padding-medium {
  padding-right: 1.5rem;
}

.padding-large-right, .padding-large {
  padding-right: 2rem;
}

.padding-huge-right, .padding-huge {
  padding-right: 3.125rem;
}

.padding-zero-right, .padding-zero-x, .padding-zero {
  padding-right: 0;
}

/* SETUP-BE | 1.0.1 | 200624 | setup-be/ui/setup-be-101/padding-all.scss
---------------------------------------------------------------------------------------------------- */
/* SETUP-BE | 1.0.0 | 200514 | setup-be/ui/setup-be-100/shadow.scss
---------------------------------------------------------------------------------------------------- */
.shadow-inner,
.shadow-inner-bottom {
  -webkit-box-shadow: inset 0px -100px 20px -100px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px -100px 20px -100px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px -100px 20px -100px rgba(0, 0, 0, 0.15);
}

.shadow-inner-top {
  -webkit-box-shadow: inset 0px 100px 20px -100px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 100px 20px -100px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 100px 20px -100px rgba(0, 0, 0, 0.15);
}

.shadow-inner-dark,
.shadow-inner-dark-bottom {
  -webkit-box-shadow: inset 0px -100px 40px -100px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px -100px 40px -100px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px -100px 40px -100px rgba(0, 0, 0, 0.25);
}

.shadow-inner-dark-top {
  -webkit-box-shadow: inset 0px 100px 40px -100px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 100px 40px -100px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 100px 40px -100px rgba(0, 0, 0, 0.25);
}

.shadow-inner-darker,
.shadow-inner-darker-bottom {
  -webkit-box-shadow: inset 0px -100px 60px -100px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px -100px 60px -100px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px -100px 60px -100px rgba(0, 0, 0, 0.5);
}

.shadow-inner-darker-top {
  -webkit-box-shadow: inset 0px 100px 60px -100px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 100px 60px -100px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 100px 60px -100px rgba(0, 0, 0, 0.5);
}

.shadow-lighter,
.shadow-outer-lighter, a.shadow-light:hover {
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.shadow-light,
.shadow-outer-light, a.shadow:hover, a.shadow-light,
a.shadow-light:link {
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.15);
}

.shadow,
.shadow-outer, a.shadow,
a.shadow:link {
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
}

.shadow-dark,
.shadow-outer-dark {
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.5);
}

.shadow-darker,
.shadow-outer-darker {
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75);
}

.shadow-edge {
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
}

.module.guide.guide-titleshadow, .shadow-edge-top {
  -webkit-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.25);
}

.shadow-edge-dark {
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}

.shadow-edge-dark-top {
  -webkit-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.5);
}

.shadow-edge-darker {
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.75);
}

.shadow-edge-darker-top {
  -webkit-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.75);
}

/* SETUP-LOG | 1.0.3 | 200702 | setup-be/block-custom/setup-log-103/log.scss
---------------------------------------------------------------------------------------------------- */
.module.guide.guide-titleshadow > .item.label, .module.guide.summary-bg-darkgray .item.summary, .module.guide.summary-bg-gray .item.summary, .module.guide.summary-bg-lightgray .item.summary, .module.guide.summary-bg-blue .item.summary, .module.guide.summary-bg-red .item.summary, .module.guide.summary-bg-orange .item.summary, .module.guide.summary-bg-yellow .item.summary, .module.guide.summary-bg-green .item.summary, .module.guide.label-bg-darkgray .item.label, .module.guide.label-bg-gray .item.label, .module.guide.label-bg-lightgray .item.label, .module.guide.label-bg-blue .item.label, .module.guide.label-bg-red .item.label, .module.guide.label-bg-orange .item.label, .module.guide.label-bg-yellow .item.label, .module.guide.label-bg-green .item.label, .module.guide.module-bg-darkgray, .module.guide.module-bg-gray, .module.guide.module-bg-lightgray, .module.guide.module-bg-blue, .module.guide.module-bg-red, .module.guide.module-bg-orange, .module.guide.module-bg-yellow, .module.guide.module-bg-green, .module.log.module-bg-darkgray, .module.log.module-bg-gray, .module.log.module-bg-lightgray, .module.log.module-bg-blue, .module.log.module-bg-red, .module.log.module-bg-orange, .module.log.module-bg-yellow, .module.log.module-bg-green, .module.log.module-bg-darkgray .item.label, .module.log.module-bg-gray .item.label, .module.log.module-bg-lightgray .item.label, .module.log.module-bg-blue .item.label, .module.log.module-bg-red .item.label, .module.log.module-bg-orange .item.label, .module.log.module-bg-yellow .item.label, .module.log.module-bg-green .item.label,
.module.log.module-bg-darkgray .item.summary,
.module.log.module-bg-gray .item.summary,
.module.log.module-bg-lightgray .item.summary,
.module.log.module-bg-blue .item.summary,
.module.log.module-bg-red .item.summary,
.module.log.module-bg-orange .item.summary,
.module.log.module-bg-yellow .item.summary,
.module.log.module-bg-green .item.summary,
.module.log.module-bg-darkgray .item.info,
.module.log.module-bg-gray .item.info,
.module.log.module-bg-lightgray .item.info,
.module.log.module-bg-blue .item.info,
.module.log.module-bg-red .item.info,
.module.log.module-bg-orange .item.info,
.module.log.module-bg-yellow .item.info,
.module.log.module-bg-green .item.info, .module.log.module-bg-darkgray .item.date, .module.log.module-bg-gray .item.date, .module.log.module-bg-lightgray .item.date, .module.log.module-bg-blue .item.date, .module.log.module-bg-red .item.date, .module.log.module-bg-orange .item.date, .module.log.module-bg-yellow .item.date, .module.log.module-bg-green .item.date,
.module.log.module-bg-darkgray .item.time,
.module.log.module-bg-gray .item.time,
.module.log.module-bg-lightgray .item.time,
.module.log.module-bg-blue .item.time,
.module.log.module-bg-red .item.time,
.module.log.module-bg-orange .item.time,
.module.log.module-bg-yellow .item.time,
.module.log.module-bg-green .item.time,
.module.log.module-bg-darkgray .item.datetime,
.module.log.module-bg-gray .item.datetime,
.module.log.module-bg-lightgray .item.datetime,
.module.log.module-bg-blue .item.datetime,
.module.log.module-bg-red .item.datetime,
.module.log.module-bg-orange .item.datetime,
.module.log.module-bg-yellow .item.datetime,
.module.log.module-bg-green .item.datetime {
  color: #fff;
}

.module.guide.summary-bg-lightgray .item.summary, .item.label,
.item.summary,
.item.info {
  color: #424242;
}

.module.guide.label-bg-lightgray .item.label, .module.guide.guide-label2 .item.label, .module.guide.module-bg-lightgray, .module.log.module-bg-lightgray, .item.date,
.item.time,
.item.datetime {
  color: #BDBDBD;
}

.module.guide.guide-titleshadow > .item.label, .module.guide.summary-bg-darkgray .item.summary, .module.guide.label-bg-darkgray .item.label, .module.guide.module-bg-darkgray, .module.log.module-bg-darkgray {
  background-color: #424242;
}

.module.guide.summary-bg-gray .item.summary, .module.guide.label-bg-gray .item.label, .module.guide.module-bg-gray, .module.log.module-bg-gray {
  background-color: #BDBDBD;
}

.module.guide.summary-bg-lightgray .item.summary, .module.guide.label-bg-lightgray .item.label, .module.guide.module-bg-lightgray, .module.log.module-bg-lightgray {
  background-color: #EEEEEE;
}

.module.guide.summary-bg-blue .item.summary, .module.guide.label-bg-blue .item.label, .module.guide.module-bg-blue, .module.log.module-bg-blue {
  background-color: #0079bf;
}

.module.guide.summary-bg-red .item.summary, .module.guide.label-bg-red .item.label, .module.guide.module-bg-red, .module.log.module-bg-red {
  background-color: #eb5a46;
}

.module.guide.summary-bg-orange .item.summary, .module.guide.label-bg-orange .item.label, .module.guide.module-bg-orange, .module.log.module-bg-orange {
  background-color: #ff9f1a;
}

.module.guide.summary-bg-yellow .item.summary, .module.guide.label-bg-yellow .item.label, .module.guide.module-bg-yellow, .module.log.module-bg-yellow {
  background-color: #f2d600;
}

.module.guide.label-bg-green .item.label, .module.guide.module-bg-green, .module.log.module-bg-green {
  background-color: #61bd4f;
}

.module.guide.guide-titleshadow > .item.label {
  display: inline-block;
}

.item.date,
.item.time,
.item.datetime {
  font-weight: 500;
}
.module.log.module-bg-darkgray .item.date, .module.log.module-bg-gray .item.date, .module.log.module-bg-lightgray .item.date, .module.log.module-bg-blue .item.date, .module.log.module-bg-red .item.date, .module.log.module-bg-orange .item.date, .module.log.module-bg-yellow .item.date, .module.log.module-bg-green .item.date,
.module.log.module-bg-darkgray .item.time,
.module.log.module-bg-gray .item.time,
.module.log.module-bg-lightgray .item.time,
.module.log.module-bg-blue .item.time,
.module.log.module-bg-red .item.time,
.module.log.module-bg-orange .item.time,
.module.log.module-bg-yellow .item.time,
.module.log.module-bg-green .item.time,
.module.log.module-bg-darkgray .item.datetime,
.module.log.module-bg-gray .item.datetime,
.module.log.module-bg-lightgray .item.datetime,
.module.log.module-bg-blue .item.datetime,
.module.log.module-bg-red .item.datetime,
.module.log.module-bg-orange .item.datetime,
.module.log.module-bg-yellow .item.datetime,
.module.log.module-bg-green .item.datetime {
  font-weight: 600;
}

.module.log {
  border-top: 1px solid #ddd;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 4px;
}
.module.log.module-no-border {
  border-top: 0;
}
.module.log.module-bg-darkgray, .module.log.module-bg-gray, .module.log.module-bg-lightgray, .module.log.module-bg-blue, .module.log.module-bg-red, .module.log.module-bg-orange, .module.log.module-bg-yellow, .module.log.module-bg-green {
  border-top: 0;
  padding: 0.5rem;
}
.module.log.main-side {
  display: grid;
  grid-template-areas: "log-main log-side";
  grid-template-columns: 3fr 1fr;
  grid-gap: 1rem;
}
.module.log.main-side .items.main {
  grid-area: log-main;
}
.module.log.main-side .items.side {
  grid-area: log-side;
}

.module.log.side-main {
  display: grid;
  grid-template-areas: "log-side log-main";
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;
}
.module.log.side-main .items.main {
  grid-area: log-main;
}
.module.log.side-main .items.side {
  grid-area: log-side;
}

/* SETUP-LOG | 1.0.3 | 200702 | setup-be/block-custom/setup-log-103/guide.scss
---------------------------------------------------------------------------------------------------- */
.module.guide.module-bg-darkgray, .module.guide.module-bg-gray, .module.guide.module-bg-lightgray, .module.guide.module-bg-blue, .module.guide.module-bg-red, .module.guide.module-bg-orange, .module.guide.module-bg-yellow, .module.guide.module-bg-green {
  border-top: 0;
  padding: 0.5rem;
}
.item.label {
  font-weight: 600;
}
.module.guide.label-tab .item.label {
  display: inline-block;
}
.module.guide.label-bg-darkgray .item.label, .module.guide.label-bg-gray .item.label, .module.guide.label-bg-lightgray .item.label, .module.guide.label-bg-blue .item.label, .module.guide.label-bg-red .item.label, .module.guide.label-bg-orange .item.label, .module.guide.label-bg-yellow .item.label, .module.guide.label-bg-green .item.label {
  padding: 4px 8px;
}
.module.guide .item.summary {
  margin-top: 4px;
}
.module.guide.summary-bg-darkgray .item.summary, .module.guide.summary-bg-gray .item.summary, .module.guide.summary-bg-lightgray .item.summary, .module.guide.summary-bg-blue .item.summary, .module.guide.summary-bg-red .item.summary, .module.guide.summary-bg-orange .item.summary, .module.guide.summary-bg-yellow .item.summary, .module.guide.summary-bg-green .item.summary {
  margin-top: 0;
  padding: 4px 8px;
}
.module.guide.guide-titleshadow > .item.label {
  padding: 4px 8px;
}
