/* SETUP-BE | 1.0.0 | 200408 | setup-be/base/setup-be-100/base.scss
---------------------------------------------------------------------------------------------------- */
/*  SETUP-BE | 1.0.0 | 200408 | setup-be/modules/setup-be-100/brand-color.scss
---------------------------------------------------------------------------------------------------- */
/**
 * Brand Color
 *
 */
/*  SETUP-BE | 1.0.0 | 200408 | setup-be/modules/setup-be-100/helpers.scss
---------------------------------------------------------------------------------------------------- */
/**
 * Button Reset
 *
 */
/**
 * Grid, Center Last
 *
 */
/**
 * Margin, No Edge
 * Removes left margin from first item, right margin from last item
 */
/**
 * Icon Position
 *
 */
/**
 * Block Cover
 * Creates a block that covers the full width/height of parent div. Typically used on a :before pseudo element
 */
/**
 * Placeholder Color
 *
 */
/**
 * Clearfix
 *
 */
/**
 * Font Sizes
 *
**/
/**
 * Columns
 *
 */
/**
 * Columns, Mobile
 *
 */
/**
 * Columns, Tablet
 *
 */
/**
 * Columns, Tablet Up
 *
 */
/**
 * Columns, Desktop
 *
 */
/* SETUP-BE | 1.0.0 | 200408 | setup-be/modules/setup-be-100/base-styles.scss
---------------------------------------------------------------------------------------------------- */
/*  SETUP-BE | 1.0.0 | 200408 | setup-be/type/setup-be-100/fontsize.scss
---------------------------------------------------------------------------------------------------- */
.fontsize-xhuge {
  font-size: 3.25rem; }
  @media (min-width: 768px) {
    .fontsize-xhuge {
      font-size: 3.625rem; } }
  @media (min-width: 992px) {
    .fontsize-xhuge {
      font-size: 4rem; } }
.fontsize-huge {
  font-size: 2.25rem; }
  @media (min-width: 768px) {
    .fontsize-huge {
      font-size: 2.625rem; } }
  @media (min-width: 992px) {
    .fontsize-huge {
      font-size: 3rem; } }
.fontsize-large {
  font-size: 1.5rem; }
  @media (min-width: 768px) {
    .fontsize-large {
      font-size: 1.875rem; } }
  @media (min-width: 992px) {
    .fontsize-large {
      font-size: 2.25rem; } }
.log.module.text-medium, .fontsize-medium {
  font-size: 1.25rem; }
  @media (min-width: 768px) {
    .log.module.text-medium, .fontsize-medium {
      font-size: 1.375rem; } }
  @media (min-width: 992px) {
    .log.module.text-medium, .fontsize-medium {
      font-size: 1.5rem; } }
.fontsize-small {
  font-size: 1rem; }
  @media (min-width: 768px) {
    .fontsize-small {
      font-size: 1.25rem; } }
.fontsize-normal {
  font-size: 0.875rem; }
  @media (min-width: 768px) {
    .fontsize-normal {
      font-size: 1rem; } }
.fontsize-smaller {
  font-size: 0.875rem; }

.log.module, .fontsize-tiny {
  font-size: 0.75rem; }

/* SETUP-BE | 1.0.0 | 200408 | setup-be/block-custom/setup-be-100/log.scss
---------------------------------------------------------------------------------------------------- */
.log.module {
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 170px 1fr;
  padding-top: 2px;
  border-top: 1px solid #eee; }

.log.module.groupinfo {
  grid-template-columns: 1fr;
  padding-left: 170px; }

.log.module.highlight-green, .log.module.highlight-blue, .log.module.highlight-red {
  color: white;
  grid-template-columns: 165px 1fr;
  padding-left: 5px;
  padding-right: 5px;
  border-top: none; }

.log.module.highlight-red {
  background-color: #e5565d; }

.log.module.highlight-blue {
  background-color: #56a5e5; }

.log.module.highlight-green {
  background-color: #56e597; }

.log.module .item.code, .log.module .item.datetime, .log.module .item.time, .log.module .item.date {
  font-weight: 700;
  margin-right: 0.5rem; }

.log.module .item.code {
  margin-right: 1rem; }

.item.detail :last-child {
  margin-bottom: 0; }
