/* SETUP-BE | 1.0.0 | 200326 | assets/scss/partials/base.scss
---------------------------------------------------------------------------------------------------- */
/*  SETUP-BE | 1.0.0 | 200408 | setup-be/modules/setup-be-100/brand-color.scss
---------------------------------------------------------------------------------------------------- */
/**
 * Brand Color
 *
 */
/*  SETUP-BE | 1.0.0 | 200408 | setup-be/modules/setup-be-100/helpers.scss
---------------------------------------------------------------------------------------------------- */
/**
 * Button Reset
 *
 */
/**
 * Grid, Center Last
 *
 */
/**
 * Margin, No Edge
 * Removes left margin from first item, right margin from last item
 */
/**
 * Icon Position
 *
 */
/**
 * Block Cover
 * Creates a block that covers the full width/height of parent div. Typically used on a :before pseudo element
 */
/**
 * Placeholder Color
 *
 */
/**
 * Clearfix
 *
 */
/**
 * Font Sizes
 *
**/
/**
 * Columns
 *
 */
/**
 * Columns, Mobile
 *
 */
/**
 * Columns, Tablet
 *
 */
/**
 * Columns, Tablet Up
 *
 */
/**
 * Columns, Desktop
 *
 */
/* SETUP-BE | 1.0.0 | 200408 | setup-be/modules/setup-be-100/base-styles.scss
---------------------------------------------------------------------------------------------------- */
/*  SETUP-BE | 1.0.0 | 200420 | setup-be/type/setup-be-100/fontsize.scss
---------------------------------------------------------------------------------------------------- */
.fontsize-xhuge {
  font-size: 3.25rem;
}
@media (min-width: 768px) {
  .fontsize-xhuge {
    font-size: 3.625rem;
  }
}
@media (min-width: 992px) {
  .fontsize-xhuge {
    font-size: 4rem;
  }
}

.fontsize-huge {
  font-size: 2.25rem;
}
@media (min-width: 768px) {
  .fontsize-huge {
    font-size: 2.625rem;
  }
}
@media (min-width: 992px) {
  .fontsize-huge {
    font-size: 3rem;
  }
}

.fontsize-large {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .fontsize-large {
    font-size: 1.875rem;
  }
}
@media (min-width: 992px) {
  .fontsize-large {
    font-size: 2.25rem;
  }
}

.fontsize-medium {
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  .fontsize-medium {
    font-size: 1.375rem;
  }
}
@media (min-width: 992px) {
  .fontsize-medium {
    font-size: 1.5rem;
  }
}

.fontsize-small {
  font-size: 1.125rem;
}
@media (min-width: 768px) {
  .fontsize-small {
    font-size: 1.25rem;
  }
}

.fontsize-normal {
  font-size: 1rem;
}
@media (min-width: 768px) {
  .fontsize-normal {
    font-size: 1.125rem;
  }
}

.item.label, .fontsize-base {
  font-size: 0.875rem;
}
@media (min-width: 768px) {
  .item.label, .fontsize-base {
    font-size: 1rem;
  }
}

.item.date,
.item.time,
.item.datetime,
.item.label,
.item.detail,
.item.title,
.item.summary,
.item.info,
.item.link, .fontsize-smaller {
  font-size: 0.875rem;
}

.fontsize-tiny {
  font-size: 0.75rem;
}

/* SETUP-BE | 1.0.0 | 200514 | setup-be/ui/setup-be-100/shadow.scss
---------------------------------------------------------------------------------------------------- */
.shadow-inner,
.shadow-inner-bottom {
  -webkit-box-shadow: inset 0px -100px 20px -100px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px -100px 20px -100px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px -100px 20px -100px rgba(0, 0, 0, 0.15);
}

.shadow-inner-top {
  -webkit-box-shadow: inset 0px 100px 20px -100px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 100px 20px -100px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 100px 20px -100px rgba(0, 0, 0, 0.15);
}

.shadow-inner-dark,
.shadow-inner-dark-bottom {
  -webkit-box-shadow: inset 0px -100px 40px -100px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px -100px 40px -100px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px -100px 40px -100px rgba(0, 0, 0, 0.25);
}

.shadow-inner-dark-top {
  -webkit-box-shadow: inset 0px 100px 40px -100px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 100px 40px -100px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 100px 40px -100px rgba(0, 0, 0, 0.25);
}

.shadow-inner-darker,
.shadow-inner-darker-bottom {
  -webkit-box-shadow: inset 0px -100px 60px -100px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px -100px 60px -100px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px -100px 60px -100px rgba(0, 0, 0, 0.5);
}

.shadow-inner-darker-top {
  -webkit-box-shadow: inset 0px 100px 60px -100px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 100px 60px -100px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 100px 60px -100px rgba(0, 0, 0, 0.5);
}

.shadow-lighter,
.shadow-outer-lighter, a.shadow-light:hover {
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.shadow-light,
.shadow-outer-light, a.shadow:hover, a.shadow-light,
a.shadow-light:link {
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.15);
}

.shadow,
.shadow-outer, a.shadow,
a.shadow:link {
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
}

.shadow-dark,
.shadow-outer-dark {
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.5);
}

.shadow-darker,
.shadow-outer-darker {
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75);
}

.shadow-edge {
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
}

.shadow-edge-top {
  -webkit-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.25);
}

.shadow-edge-dark {
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}

.shadow-edge-dark-top {
  -webkit-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.5);
}

.shadow-edge-darker {
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.75);
}

.shadow-edge-darker-top {
  -webkit-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.75);
}

/* SETUP-LOG | 1.0.2 | 200606 | setup-be/block-custom/setup-log-101/log.scss
---------------------------------------------------------------------------------------------------- */
/*
	.log.module {

	}
	.log.module.groupboth {
		//border-top: 1px solid red;
	}
	.log.module.groupspec {
		//border-top: 1px solid green;
	}
	.log.module.groupinfo {
		grid-template-columns: 1fr;
		//border-top: 1px solid blue;
	}

	// TEXT-VARIATIONS
	.log.module.text-medium {
		@extend %fontsize-medium !optional;
	}

	%log-highlight-default {
		color: white;
		grid-template-columns: 165px 1fr;
		padding-left: 5px;
		padding-right: 5px;
		//padding: 2px 10px;
		border-top: none;
	}

	// HIGHLIGHTS
	.log.module.highlight-red {
		@extend %log-highlight-default !optional;
		background-color: #e5565d;
	}

	.log.module.highlight-blue {
		@extend %log-highlight-default !optional;
		background-color: #56a5e5;
	}

	.log.module.highlight-green {
		@extend %log-highlight-default !optional;
		background-color: #56e597;
	}
*/
.module.log {
  margin-bottom: 0.5rem;
  padding-top: 2px;
  border-top: 1px solid #eee;
}
.module.log.main-side {
  display: grid;
  grid-template-areas: "log-main log-side";
  grid-template-columns: 2fr 1fr;
  grid-gap: 1.5rem;
  margin-bottom: 0.5rem;
  padding-top: 2px;
  border-top: 1px solid #eee;
}
.module.log.main-side .items.main {
  background-color: yellow;
  grid-area: log-main;
}
.module.log.main-side .items.side {
  background-color: red;
  grid-area: log-side;
}

.module.log.side-main {
  display: grid;
  grid-template-areas: "log-side log-main";
  grid-template-columns: 1fr 2fr;
  grid-gap: 1.5rem;
  margin-bottom: 0.5rem;
  padding-top: 2px;
  border-top: 1px solid #eee;
}
.module.log.side-main .items.main {
  background-color: yellow;
  grid-area: log-main;
}
.module.log.side-main .items.side {
  background-color: red;
  grid-area: log-side;
}

/* SETUP-LOG | 1.0.2 | 200607 | setup-be/block-custom/setup-log-102/guide.scss
---------------------------------------------------------------------------------------------------- */
.module.guide.summary-bg-darkgray .item.summary, .module.guide.summary-bg-gray .item.summary, .module.guide.summary-bg-lightgray .item.summary, .module.guide.summary-bg-blue .item.summary, .module.guide.summary-bg-red .item.summary, .module.guide.summary-bg-orange .item.summary, .module.guide.summary-bg-yellow .item.summary, .module.guide.summary-bg-green .item.summary, .module.guide.label-bg-darkgray .item.label, .module.guide.label-bg-gray .item.label, .module.guide.label-bg-lightgray .item.label, .module.guide.label-bg-blue .item.label, .module.guide.label-bg-red .item.label, .module.guide.label-bg-orange .item.label, .module.guide.label-bg-yellow .item.label, .module.guide.label-bg-green .item.label {
  color: #fff;
}

.module.guide.summary-bg-lightgray .item.summary, .item.label {
  color: #424242;
}

.module.guide.label-bg-lightgray .item.label, .module.guide.guide-label2 .item.label {
  color: #BDBDBD;
}

.module.guide.summary-bg-darkgray .item.summary, .module.guide.label-bg-darkgray .item.label {
  background-color: #424242;
}

.module.guide.summary-bg-gray .item.summary, .module.guide.label-bg-gray .item.label {
  background-color: #BDBDBD;
}

.module.guide.summary-bg-lightgray .item.summary, .module.guide.label-bg-lightgray .item.label {
  background-color: #EEEEEE;
}

.module.guide.summary-bg-blue .item.summary, .module.guide.label-bg-blue .item.label {
  background-color: #0079bf;
}

.module.guide.summary-bg-red .item.summary, .module.guide.label-bg-red .item.label {
  background-color: #eb5a46;
}

.module.guide.summary-bg-orange .item.summary, .module.guide.label-bg-orange .item.label {
  background-color: #ff9f1a;
}

.module.guide.summary-bg-yellow .item.summary, .module.guide.label-bg-yellow .item.label {
  background-color: #f2d600;
}

.module.guide.label-bg-green .item.label {
  background-color: #61bd4f;
}

.item.label {
  font-weight: 600;
}
.module.guide.label-tab .item.label {
  display: inline-block;
}
.module.guide.label-bg-darkgray .item.label, .module.guide.label-bg-gray .item.label, .module.guide.label-bg-lightgray .item.label, .module.guide.label-bg-blue .item.label, .module.guide.label-bg-red .item.label, .module.guide.label-bg-orange .item.label, .module.guide.label-bg-yellow .item.label, .module.guide.label-bg-green .item.label {
  padding: 4px 8px;
}
.module.guide .item.summary {
  margin-top: 4px;
}
.module.guide.summary-bg-darkgray .item.summary, .module.guide.summary-bg-gray .item.summary, .module.guide.summary-bg-lightgray .item.summary, .module.guide.summary-bg-blue .item.summary, .module.guide.summary-bg-red .item.summary, .module.guide.summary-bg-orange .item.summary, .module.guide.summary-bg-yellow .item.summary, .module.guide.summary-bg-green .item.summary {
  margin-top: 0;
  padding: 4px 8px;
}
